<h2>Ballots</h2>

<div class="ballot">

  <h3>Ballot one</h3>
  <form class="" ng-submit="$ctrl.updateBallotOne($ctrl.ballotOnePercent, $ctrl.ballotOneTotal)">
    <label for="$ctrl.ballotOnePercent">Total percent available in ballot</label>
    <input id="$ctrl.ballotOnePercent" ng-model="$ctrl.ballotOnePercent" type="number" name="ballotOnePercent"/>
    <label for="$ctrl.ballotOneTotal">Total votes in ballot</label>
    <input id="$ctrl.ballotOneTotal" ng-model="$ctrl.ballotOneTotal" type="number" name="ballotOneTotal"/>
    <button class="button" type="submit">Save</button>
  </form>

  <ul>
    <li ng-repeat="candidate in $ctrl.ballotOne.candidates">
      <span>{{candidate.name}}</span><br>
      <span>Votes won: {{candidate.votesWon}}</span>
    </li>
  </ul>
  <form ng-if="$ctrl.showBallotOneCandidates" class="new-candidate" ng-submit="$ctrl.addCandidateToBallotOne($ctrl.newCandidateOne, $ctrl.votesWonOne)">
    <label for="$ctrl.newCandidateOne">Candidate name</label>
    <input id="$ctrl.newCandidateOne" ng-model="$ctrl.newCandidateOne" type="text" list="$ctrl.candidateOne" name="text" placeholder="Add a candidate"/>
    <datalist id="$ctrl.candidateOne">
        <option ng-repeat="p in $ctrl.candidates" value="{{p.name}}">{{p.name}}</option>
    </datalist>
    <br>
    <label for="$ctrl.votesWonOne">Number of votes won</label>
    <input id="$ctrl.votesWonOne"  ng-model="$ctrl.votesWonOne" type="number" name="votes"/>
    <button class="button" type="submit">Add</button>
  </form>

</div>

<div class="ballot">

  <h3>Ballot two</h3>
  <form class="" ng-submit="$ctrl.updateBallotTwo($ctrl.ballotTwoPercent, $ctrl.ballotTwoTotal)">
    <label for="$ctrl.ballotTwoPercent">Total percent available in ballot</label>
    <input id="$ctrl.ballotTwoPercent" ng-model="$ctrl.ballotTwoPercent" type="number" name="ballotTwoPercent"/>
    <label for="$ctrl.ballotTwoTotal">Total votes in ballot</label>
    <input id="$ctrl.ballotTwoTotal" ng-model="$ctrl.ballotTwoTotal" type="number" name="ballotTwoTotal"/>
    <button class="button" type="submit">Save</button>
  </form>

  <ul>
    <li ng-repeat="candidate in $ctrl.ballotTwo.candidates">
      <span>{{candidate.name}}</span><br>
      <span>Votes won: {{candidate.votesWon}}</span>
    </li>
  </ul>
  <form ng-if="$ctrl.showBallotTwoCandidates" class="new-candidate" ng-submit="$ctrl.addCandidateToBallotTwo($ctrl.newCandidateTwo, $ctrl.votesWonTwo)">
    <label for="$ctrl.newCandidateTwo">Candidate name</label>
    <input id="$ctrl.newCandidateTwo" ng-model="$ctrl.newCandidateTwo" type="text" list="$ctrl.candidateTwo" name="text" placeholder="Add a candidate"/>
    <datalist id="$ctrl.candidateTwo">
        <option ng-repeat="p in $ctrl.candidates" value="{{p.name}}">{{p.name}}</option>
    </datalist>
    <br>
    <label for="$ctrl.votesWonTwo">Number of votes won</label>
    <input id="$ctrl.votesWonTwo"  ng-model="$ctrl.votesWonTwo" type="number" name="votes"/>
    <button class="button" type="submit">Add</button>
  </form>

</div>
